h1 {
    text-align: center;
    text-decoration: underline;
    color: rgba(224, 49, 14, 0.921);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.row {
    height: 500px;
    border: 5px solid yellowgreen;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.row-car {
    height: 800px;
    border: 5px solid lightskyblue;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.row>div {
    flex: 1;
}

.vertical-collage img {
    height: calc((100% - 5px)/2);

}

.box-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/* responsive media query */
@media screen and (max-width: 567px) {
    .row-car, .row {
        flex-direction: column;
        height: auto;
    }
    .box-collage{
        grid-template-columns: 1fr;
    }

}
/* medium device */
@media screen and (min-width: 576px) and (maz-width: 992px) {
    .row-car, .row {
        flex-direction: column;
        height: auto;
    }    
}